header nav ul {
  display: flex;
  gap: 1.25rem;
  list-style-type: none;
  padding: 0px;
  overflow-x: auto;
  margin: 2px;
  place-content: center;
  flex-flow: wrap;
}
main {
  max-width: 1000px;
  margin: 0 auto;
}
img {
  max-width: 100%;
  max-height: 100%;
}
a {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  text-decoration: none;
}
#first_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  gap: 15px;
  padding-top: 5%;
  margin-bottom: 10%;
}
.section_wrapper {
  color: black;
  background-color: #aca294;
  padding: 5%;
}
a {
  font-family: "Anton", sans-serif;
  font-family: "Overpass Mono", monospace;
}
h1 {
  font-family: "Anton", sans-serif;
  font-family: "Overpass Mono", monospace;
  font-weight: bolder;
}
p {
  font-family: "Anton", sans-serif;
  font-family: "Overpass Mono", monospace;
}
h3 {
  font-family: "Anton", sans-serif;
  font-family: "Overpass Mono", monospace;
}
footer {
  font-family: "Overpass Mono", monospace;
}
footer {
  /* margin-top: 100px; */
  margin-left: 20px;
  font-size: 0.7rem;
  margin-bottom: 1.7%;
  margin-top: 1.7%;
  position: relative;
  z-index: 2;
}
