header nav ul {
  display: flex;
  gap: 1.25rem;
  list-style-type: none;
  padding: 0px;
  overflow-x: auto;
  margin: 2px;
  place-content: center;
  flex-flow: wrap;
}
main {
  max-width: 1000px;
  margin: 0 auto;
}
img {
  max-width: 100%;
  max-height: 100%;
}
a {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  text-decoration: none;
}
#first_section {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  gap: 15px;
  padding-top: 5%;
}
.section_wrapper {
  color: black;
  background-color: #aca294;
  padding: 5%;
}
a {
  font-family: cheap-pine, sans-serif;

  font-weight: 400;

  font-style: normal;
}
/* #first_section p {
  color: black;
  background-color: rgb(252, 229, 200);
} */
