@media (min-width: 600px) {
}
header nav ul {
  display: flex;
  /* position: absolute; */
  gap: 1.25rem;
  list-style-type: none;
  padding: 0px;
  overflow-x: auto;
  margin: 2px;
  place-content: center;
  flex-flow: wrap;
}
#section_first h1 {
  display: grid;
  grid-column: 1/3;
  grid-row: 3;
  /* justify-content: end; */
}
a {
  font-family: cheap-pine, sans-serif;

  font-weight: 400;

  font-style: normal;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}
a {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  text-decoration: none;
}
#first_section img {
  height: auto;
  width: 100%;
  object-fit: cover;
  margin-top: 6rem;
}
#first_section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}
a {
  font-family: "Anton", sans-serif;
  font-family: "Overpass Mono", monospace;
}
h1 {
  font-family: "Anton", sans-serif;
  font-family: "Overpass Mono", monospace;
  font-weight: bolder;
}
p {
  font-family: "Anton", sans-serif;
  font-family: "Overpass Mono", monospace;
}
h3 {
  font-family: "Anton", sans-serif;
  font-family: "Overpass Mono", monospace;
}
footer {
  font-family: "Overpass Mono", monospace;
}
footer {
  /* margin-top: 100px; */
  margin-left: 20px;
  font-size: 0.7rem;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
}
