.container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
#section_first h1 {
  font-size: 2rem;
}
/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
@media (min-width: 600px) {
}

header nav ul {
  display: flex;
  gap: 1.25rem;
  list-style-type: none;
  padding: 0px;
  overflow-x: auto;
  margin: 2px;
  place-content: center;
  flex-flow: wrap;
}

/* .toggle-btn {
  display: none;
}
nav {
  display: none;
}
@media (max-width: 600px) {
  .toggle-btn {
    position: relative;
    border: none;
    display: block;
    min-width: 44px;
    min-height: 44px;
  }

  nav.shown {
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }
  nav ul {
    display: block;
    flex-flow: column;
    margin-left: 3.5rem;
  }
  #banner {
    display: flex;
    position: sticky;
    top: 0;
  }
}
#menu {
  width: 2rem;
  aspect-ratio: 131/130;
  position: absolute;
  top: 14%;
  left: 2%;
  background-image: url(/burger.svg);
  background-size: cover;
}
#luk {
  width: 2rem;
  aspect-ratio: 131/130;
  position: absolute;
  top: 9%;
  left: 2%;
  background-image: url(/luk.svg);
  background-size: cover;
}
.hide {
  display: none;
}
.toggle-btn {
  display: none;
}
@media (max-width: 600px) {
  .toggle-btn {
    position: relative;
    border: none;
    display: block;
    min-width: 44px;
    min-height: 44px;
  }
} */
h1 {
  display: grid;
  grid-column: 1/3;
  grid-row: 3;
  position: absolute;
  left: 63%;
  top: 35%;
  /* justify-content: end; */
}
h3 {
  display: grid;
  grid-column: 1/3;
  grid-row: 3;
  position: absolute;
  left: 61%;
  top: 50%;
}
a {
  font-family: cheap-pine, sans-serif;

  font-weight: 400;

  font-style: normal;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}
a {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  text-decoration: none;
}
#first_section img {
  height: auto;
  width: 100%;
  object-fit: cover;
  margin-top: 6rem;
}
#first_section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}
a {
  font-family: "Anton", sans-serif;
  font-family: "Overpass Mono", monospace;
}
h1 {
  font-family: "Anton", sans-serif;
  font-family: "Overpass Mono", monospace;
  font-weight: bolder;
  font-size: larger;
}
p {
  font-family: "Anton", sans-serif;
  font-family: "Overpass Mono", monospace;
}
h3 {
  font-family: "Anton", sans-serif;
  font-family: "Overpass Mono", monospace;
}
footer {
  font-family: "Overpass Mono", monospace;
}
footer {
  /* margin-top: 100px; */
  margin-left: 20px;
  font-size: 0.7rem;
  margin-bottom: 1.7%;
  margin-top: 1.7%;
  position: center;
}
