/* #section_first {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 15px;
  padding-top: 5%;
} */

/* .section_wrapper {
  color: black;
  background-color: #aca294;
  padding: 5%;
} */
#section_second img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.row {
  display: grid;
  /* grid-template-rows: 1fr 1fr; */
  grid-template-columns: 1fr 1fr;
  gap: 2%;
}
.doku {
  background-color: #949391;
}
.section2 {
  background-color: #aca294;
  padding: 2%;
}
/* .row {
  display: flex;

  flex-wrap: wrap;

  padding: 0 4px;

  justify-content: space-evenly;
}

.column {
  flex: 25%;

  max-width: 25%;

  padding: 0 4px;
}

.column img {
  margin-top: 8px;

  vertical-align: middle;

  width: 100%;
} */
img {
  max-width: 100%;
  max-height: 100%;
}
/* #section_second {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  gap: 2%;
  margin-top: 3%;
} */
/* div {
  display: block;
} */
/* #section {
  box-sizing: border-box;
} */
#section_first {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
  margin-top: 3%;
}

html {
  display: block;
}
a {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  text-decoration: none;
}
header nav ul {
  display: flex;
  gap: 1.25rem;
  list-style-type: none;
  padding: 0px;
  overflow-x: auto;
  margin: 2px;
  place-content: center;
  flex-flow: wrap;
}
main {
  max-width: 1000px;
  margin: 0 auto;
}
a {
  font-family: cheap-pine, sans-serif;

  font-weight: 400;

  font-style: normal;
}
.kanp_1 {
  width: 150px;
  height: 80px;
  background-color: #434945;
  color: #d9d1cc;
  overflow: hidden;
  grid-row: 4;
  grid-column: 2;
  margin-left: 150px;
}
a {
  font-family: "Anton", sans-serif;
  font-family: "Overpass Mono", monospace;
}
h1 {
  font-family: "Anton", sans-serif;
  font-family: "Overpass Mono", monospace;
  /* font-weight: bolder; */
}
p {
  font-family: "Anton", sans-serif;
  font-family: "Overpass Mono", monospace;
}
h3 {
  font-family: "Anton", sans-serif;
  font-family: "Overpass Mono", monospace;
}
footer {
  font-family: "Overpass Mono", monospace;
}
footer {
  /* margin-top: 100px; */
  margin-left: 20px;
  font-size: 0.7rem;
  margin-bottom: 1.7%;
  margin-top: 1.7%;
  position: relative;
  z-index: 2;
}
h2 {
  font-family: "Anton", sans-serif;
  font-family: "Overpass Mono", monospace;
}
button {
  margin-left: 44.5%;
  margin-top: 7%;
  margin-bottom: 2%;
}

/* html {
  background-color: rgb(211, 210, 210);
} */
